footer.footer

  p This is the end
    span.pull-right
      a(href='https://twitter.com/goodautomata')
        span.fa-stack.fa-lg
          i.fa.fa-square-o.fa-stack-2x
          i.fa.fa-stack-1x.fa-twitter
      a(href='https://github.com/jordan52/standardautomata')
        span.fa-stack.fa-lg
          i.fa.fa-square-o.fa-stack-2x
          i.fa.fa-stack-1x.fa-github
      a(href='mailto:robot@standardautomata.com')
        span.fa-stack.fa-lg
          i.fa.fa-square-o.fa-stack-2x
          i.fa.fa-stack-1x.fa-paper-plane
      span © 2015 Standard Automata, Inc. - V 2.2.2r