doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
      .header
        h3 STANDARD AUTOMATA
      .jumbotron
        h1 hello
    block content