extends layout
block content
  div(id='sphere')
block specialscripts
  script(src='/js/three.min.js')
  script(src='/js/Detector.js')
  script(src='/js/Photosphere.js')
  script(src='/js/OrbitControls.js')
  script(src='/js/sphere.js')